@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --fuente-principal: "League Spartan", sans-serif;
    --fuente-secundaria: "Quicksand", sans-serif;

    --text-font: "Poppins", sans-serif;
    --principal: #a6171c;
    --secundario: #171211;
    --terceriario: #e4e0db;

    --menu: #e4e0db;
    --botones: #a6171c;
    --letra: #e4e0db;
}

/*Auto scrol*/

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    background-color: var(--secundario);
    color: var(--letra);
    font-family: var(--fuente-secundaria);
}

img {
    max-width: 100%;
}

/*Tamaño de contenedor general, cambiar individualmete si lo necesito*/

.container {
    max-width: 1500px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

/*Menu-Barra*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    z-index: 100000;
    /* background-color: var(--menu); */
}

/* .menu .logo{
    padding: 0 70px;
    font-weight: 700;
    font-size: 30px;
    color: var(--letra);
} */

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 15px;
    color: var(--letra);
    display: block;
    margin-right: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.menu .navbar ul li a:hover {
    background: var(--principal);
    color: var(--terceriario);
    transition: .5s;
    border-radius: 10px;
}

/*Todo esto es para cuando se despliegue la version de celular*/
#menu {
    /*Para q no aparezca el INPUT*/
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.logo-img {
    width: 100px;
    margin-top: 10px;
}

/* HEADER */
.header-content {
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    background-color: var(--secundario);
}

.content-2 img {
    height: 700px;
}

.span-red {
    color: var(--terceriario);
    font-family: var(--fuente-principal);
}

.header-container {
    width: 75%;
}

.header-container h1 {
    font-family: var(--fuente-principal);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
}

.header-container .header-text-1 {
    font-family: var(--fuente-secundaria);
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.header-cuadrante {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: initial;
    align-items: initial;
    text-align: center;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
}

.header-text-2 {
    font-family: var(--fuente-secundaria);
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.boton-1 {
    padding: 15px 20px;
    background-color: var(--botones);
    color: var(--terceriario);
    border-radius: 10px;
    transition: .2s;
}

.boton-1:hover {
    background-color: var(--terceriario);
    color: var(--secundario);
}

/* LOGOS */
.logos {
    padding: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.logos img {
    width: 150px;
}

.logos {
    background: var(--terceriario);
}


/* CURSOS */
.curso-titulo {
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 3rem;
    margin-top: 45px;
    margin-bottom: 10px;
}

.line {
    background-color: var(--secundario);
    height: 5px;
    width: 100px;
    display: flex;
    margin: 0 auto;
}

.cursos {
    display: flex;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 80px;
}

.card-curso {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: var(--secundario) 1px solid;
    padding: 15px;
    border-radius: 15px;
    background-color: #17121111;

    /* width: 400px;
    height: 400px;
    overflow: hidden; */
}

.card-curso h1 {
    margin-bottom: 15px;
}

.card-curso img {
    margin-bottom: 15px;
    border-radius: 15px;

    /* transition: .3s ease;
    /* width: 100%;
    height: 100; */
}

/* .card-curso img:hover{
    transform: scale(1.1);
} */

.card-curso a {
    padding: 15px 20px;
    background-color: var(--principal);
    color: var(--terceriario);
    border-radius: 10px;
    transition: .2s;
}

.card-curso a:hover {
    background-color: var(--terceriario);
    color: var(--principal);
}

/* CURSOS-CONTENEDORES */
.contenedor-cursos {
    background-color: var(--secundario);
    color: var(--terceriario);
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curso-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    padding: 20px;
}

.titulos {
    display: flex;
    flex-direction: column;
    margin: 45px auto;
    margin-bottom: 80px;
}

.tittle-medicina {
    margin-top: 10px;
}

.titulos .contenedor-medi-text {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.titulos .contenedor-medi-text .medi-text {
    font-family: var(--fuente-secundaria);
    font-size: 1.6rem;
}

.titulo-curso-1 {
    font-size: 3.4rem;
    font-family: var(--fuente-principal);
    margin-bottom: 15px;
}

.subtituto-curso-1 {
    background-color: var(--terceriario);
    color: var(--principal);
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 1.4rem;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-bottom: 120px;
}

.items-medicina {
    margin-bottom: 30px;
}

.items-1 h4 {
    font-family: var(--fuente-principal);
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.items-2 {
    padding-left: 100px;
    border: var(--terceriario) 1px solid;
    padding-bottom: 0px;
    padding-top: 30px;
    border-radius: 15px;
}

.items-2 h4 {
    font-family: var(--fuente-principal);
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.items-list-2 p {
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.items-list-1 p {
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* .items-list-2 p:before {
    content: "  ";
} */

.items-list-3 {
    display: flex;
    gap: 7px;
}

.items-list-1 p:before {
    content: "✔  ";
}

.precio-tachado {
    text-decoration: line-through;
    font-family: var(--fuente-secundaria);
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.precio-ins {
    font-family: var(--fuente-secundaria);
    font-size: 1.4rem;
    margin-bottom: 10px;
}


/* Info en cuadrantes */
.curso-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    justify-content: center;
    align-items: center;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    font-family: var(--fuente-secundaria);
}

.curso-info-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    gap: 15px;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
}

.curso-info-2-oratoria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    font-family: var(--fuente-secundaria);
    padding: 25px 0;
}

.curso-info-2 p {
    font-family: var(--fuente-secundaria);
}

.letra-mini {
    font-size: 0.9rem;
}

/* PRECIOS */
.curso-info-3 {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    margin-bottom: 15px;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    padding: 45px;
    gap: 2px;
}

.curso-info-3 h4 {
    font-family: var(--fuente-principal);
    font-size: 2.1rem;
}

.boton-2 {
    padding: 15px 20px;
    background-color: var(--principal);
    color: var(--terceriario);
    border-radius: 10px;
    transition: .2s;
}

.boton-2:hover {
    background-color: var(--terceriario);
    color: var(--principal);
}

/* curso-info-3-medi Aca estera el modificado para MEDICINA*/
.curso-info-3-medi {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px auto;
    margin-bottom: 15px;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    padding: 45px;
    gap: 2px;
}

.curso-info-3-medi h4 {
    font-family: var(--fuente-principal);
    font-size: 2.1rem;
    margin: 0 auto;
}

.curso-info-3-medi .cuadrante {
    background-color: var(--terceriario);
    color: var(--principal);
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 15px;
}

.curso-info-3-medi .congela {
    margin: 0 auto;
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
}

.boton-2-medi {
    padding: 15px 20px;
    background-color: var(--principal);
    color: var(--terceriario);
    border-radius: 10px;
    transition: .2s;
    margin: 15px auto;
}

.boton-2-medi:hover {
    background-color: var(--terceriario);
    color: var(--principal);
}

/* NOSOTROS */
.nosotros-img-2 {
    display: none;
}

.nos-edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: left;

    margin-bottom: 40px;
}

.nosotros-texto .nos-h2 {
    font-family: var(--fuente-principal);
    font-size: 2rem;
    margin-bottom: 25px;
}

.nosotros-img {
    display: flex;
    justify-content: center;
}

.nosotros-img img {
    height: 800px;
}

.nos-tittle .span-red-2 {
    color: var(--principal);
    font-family: var(--fuente-principal);
    font-size: 2rem;
}

.nos-tittle p {
    font-family: var(--fuente-principal);
    font-size: 2rem;
}

.nos-textos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
    padding-left: 25px;
}

.nos-textos p {
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
}

.nos-textos p:before {
    content: "➡  ";
}

/* CONTACTO */
.contact-content {
    background-color: var(--secundario);
    height: 65vh;
    color: var(--terceriario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

/* .contact-content{
    background-color: var(--terceriario);
    height: 65vh;
    color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
} */

.contact h2 {
    font-family: var(--fuente-principal);
    font-size: 3rem;
}

.contact .contact-subti {
    font-family: var(--fuente-secundaria);
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.contact-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.contact-text .contact-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 15px 40px 15px;
    width: 80%;
    margin: 40px auto;
}

.contact-text .contact-1 p {
    font-family: var(--fuente-secundaria);
    font-size: 1.6rem;
    margin-top: 15px;
}

.contact-text .contact-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--fuente-secundaria);
}

.contact-text .contact-2 .contact-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--secundario) 1px solid;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
}

.contact-text .contact-2 .contact-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--terceriario) 1px solid;
    padding: 15px 2px;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
}

.contact-redes .contact-sub {
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
}

.contact-red {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
}

.contact-text .contact-1 .contact-text-mini {
    font-size: 1.2rem;
}

/* .contact-red li {
    display: inline-block;
    text-align: center;
    padding: 5px;
} */

.contact-red a {
    font-size: 20px;
    text-decoration: none;
    color: var(--terceriario);
}

.contact-red i {
    color: var(--terceriario);
    font-size: 20px;
}

.container-2 {
    max-width: 1100px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

.contact-reclutamiento {
    margin-bottom: 60px;
    border: var(--terceriario) 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 600px;
}

.contact-reclutamiento p {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
}

.contact-time .contact-horario {
    font-size: 1.5rem;
}

.barra {
    background-color: var(--terceriario);
    height: 5px;
    width: 350px;
    margin: 0 auto;
    border-radius: 15px;
}

.barra-2 {
    background-color: var(--terceriario);
    height: 5px;
    width: 350px;
    margin: 25px auto;
    border-radius: 15px;
}


.contact-wpp-2 {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.c-wpp {
    color: var(--terceriario);
    font-size: 1.5rem;
    transition: .3s;
}

.c-wpp:hover {
    color: var(--principal);
}

/* Contact WPP */
.contact-wpp {
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    transition: .3s;
}

.contact-wpp:hover {
    background-color: #128c7e;
}

/* WPP */
.whatsapp-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

.whatsapp-button i {
    margin: 0;
}

/* FOOTER */
.footer-content {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    background: var(--terceriario);
    padding: 25px;
    color: var(--secundario);
}

.redes-icons {
    text-align: center;
    padding: 0;
}

.redes-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.redes-icons i {
    color: var(--secundario);
    font-size: 25px;
    transition: .5s;
}

.redes-icons i:hover {
    color: var(--botones);
    scale: 1.5;
}

.derechos {
    text-align: center;
    font-size: 0.7rem;
    padding: 12px;
    background-color: var(--terceriario);
    color: var(--secundario);
}

.footer-datos h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    body {
        padding: 0 10px;
    }

    .menu {
        padding: 15px 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: var(--menu);
        text-align: center;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: var(--secundario);
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .menu-vertical {
        z-index: 10000;
        background-color: var(--botones);
        color: var(--terceriario);
        left: 110px;
    }

    .menu .logo {
        padding: 0 25px 0 25px;
    }

    .logo-img {
        width: 70px;
        margin-top: 10px;
    }

    .header-content {
        margin: 60px 0 0 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Contacto.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-top: 0;
        padding: 25px 0;
        padding-top: 120px;
        height: 82vh;
    }

    .header-container h1 {
        font-size: 1.7rem;
    }

    .header-container .header-text-1 {
        font-size: 1.2rem;
    }

    .header-container .header-cuadrante .header-text-2 {
        font-size: 1.2rem;
    }

    .content-2 {
        display: none;
    }

    .logos {
        display: none;
    }

    .cursos-contenedor {
        display: flex;
        flex-direction: column;
    }

    .cursos {
        display: flex;
        flex-direction: column;
    }

    .items {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .items-2 {
        padding: 20px;
        text-align: left;
    }

    /* NOSOTROS */
    .nos-edu {
        display: flex;
        flex-direction: column;
    }

    .nosotros-img {
        display: none;
    }

    .nosotros-img-2 {
        display: block;
    }

    .nosotros-texto {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        height: 700px;
    }

    .contact-text {
        display: flex;
        flex-direction: column;
    }

    #contact-time {
        width: 100%;
        margin: 0;
    }

    .container-2 {
        margin: 0;
    }

    #contact-1 {
        margin: 0;
        padding: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    /* CAMBIOS DE TAMAÑO DE TEXTO */
    .cursos-contenedor .curso-titulo {
        font-size: 2rem;
    }

    .titulos {
        margin-bottom: 30px;
    }

    .titulo-curso-1 {
        font-size: 2.3rem;
    }

    .subtituto-curso-1 {
        font-size: 1.2rem;
        width: 80%;
    }

    .items-1 h4 {
        font-size: 1.7rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .curso-info-2 {
        height: 300px;
        grid-template-rows: 150px 150px;
    }

    .contact-text {
        margin-bottom: 30px;
    }

    .contact h2 {
        font-size: 2.4rem;
    }

    .contact .contact-subti {
        font-size: 1.4rem;
    }

    .contact-text .contact-1 p {
        font-size: 1.2rem;
    }

    .contact-time .contact-horario {
        font-size: 1.2rem;
    }

    .barra {
        display: none;
    }

    .curso-info-3 h4 {
        font-size: 1.6rem;
    }

    .items-list-1 p {
        font-size: 1rem;
    }

    .items-2 h4 {
        font-size: 2rem;
    }

    .items-2 .items-list-2 p {
        font-size: 1rem;
    }

    .items-2 .items-list-2 i {
        font-size: 1rem;
    }

    .titulos .contenedor-medi-text .medi-text{
        font-size: 1.2rem;
    }

    .items-1 h4{
        margin: 0 auto;
        margin-bottom: 15px;
    }
}